.home-container {
    border: 1px solid;
    height: 500px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0.25rem gray;
  }

  .home-image {
    height: 370px;
    width: 370px;
    margin: 10px;
    background-image: url('./public/image.png');
    background-size: 100% 100%;
  }
  
  .home-text {
    width: 370px;
    margin: 10px;
  }

  .home-title {
    text-align: center;
  }

  .box1{
    width: fit-content;
    text-align: left;
    margin: 2px;
}


.box2{
    width: fit-content;
    margin: 50px 0 0 0;
}